Repository filewatcher/filewatcher: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, test

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, bin/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, bin/**)
  test: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, bin/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, bin/**, spec/**)

Update `simplecov-cobertura` development dependency
  Gemfile
Due: bundle-audit, rubocop, test

Try to fix JRuby CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Separate JRuby in Cirrus CI from Linux containers
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Try to split JRuby, Truffle Ruby, etc. into separate CI jobs
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher.gemspec
Due: remark, bundle-audit, rubocop, test

Resolve new RuboCop offense for Ruby 3.2 target
  lib/filewatcher/spec_helper.rb
Due: rubocop, test

Try to fix Codecov for macOS CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Simplify macOS CI script
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Try to fix Ruby cache for Windows CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Reuse folder name for Ruby cache in Windows CI instead of env var
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Try to fix Ruby cache for macOS CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update macOS CI image
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Change cache folder for Ruby in macOS CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Try to simplify fingerprint script for Ruby cache in macOS CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Try to remove `RUBY_PATH` from macOS CI env vars
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update RuboCop dependencies
  Gemfile
Due: bundle-audit, rubocop, test

Update year in README copyright
  README.md
Due: remark

Update version to 3.0.0
  CHANGELOG.md
  lib/filewatcher/version.rb
Due: remark, rubocop, test

Simplify UNIX Codecov CI setup
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Replace `Rakefile` with `.toys.rb` in CI config
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add `only_if` for Cirrus CI MRI tests
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update `module_methods` runtime dependency
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Update version to 3.0.1
  CHANGELOG.md
  lib/filewatcher/version.rb
Due: remark, rubocop, test
