Repository filewatcher/filewatcher: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, test

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: vendor/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  bundle_install_script:
  - bundle config set --local path 'vendor/bundle'
  - bundle update
  container:
    image: ruby:latest
  install_script:
  - gem update --system --no-document
  ...

rubocop:
  bundle_cache:
    folder: vendor/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  bundle_install_script:
  - bundle config set --local path 'vendor/bundle'
  - bundle update
  container:
    image: ruby:latest
  install_script:
  - gem update --system --no-document
  ...

test:
  matrix:
  - bundle_cache:
      folder: vendor/bundle
      fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
    bundle_install_script:
    - bundle config set --local path 'vendor/bundle'
    - bundle update
    codecov_uploader_cache:
      folder: codecov
  ...

Enable `codecov` for macOS CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add an option for not trapping signals
  lib/filewatcher.rb
Due: rubocop, test

update readme
  README.md
Due: remark

make robocop happy
  lib/filewatcher.rb
Due: rubocop, test

Switch to `truffleruby-community` in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Move TruffleRuby CI image to Linux matrix
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Change Codecov OS for macOS CI to `aarch64`
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Debug Codecov for macOS ARM
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update Toys dependencies
  Gemfile
Due: bundle-audit, rubocop, test

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher.gemspec
Due: remark, bundle-audit, rubocop, test

Resolve new RuboCop offense
  lib/filewatcher/spec_helper/watch_run.rb
Due: rubocop, test

Resolve new RuboCop offenses
  lib/filewatcher/snapshot.rb
  lib/filewatcher/spec_helper/ruby_watch_run.rb
Due: rubocop, test

Try a work-around with Rosetta for macOS Codecov
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Revert macOS Codecov debugging
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Try to fix Codecov uploader Cirrus CI cache
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update README.md
  README.md
Due: remark

Improve built gem ignorance by git
  .gitignore
Due: remark, bundle-audit, rubocop, test

Resolve new RuboCop RSpec offenses
  spec/filewatcher_spec.rb
Due: rubocop, test

Lock RuboCop plugins versions more strict
  Gemfile
Due: bundle-audit, rubocop, test

Add logger dependency
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Fix dependencies order
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Update RuboCop dependencies
  Gemfile
Due: bundle-audit, rubocop, test

Resolve new RuboCop offenses
  filewatcher.gemspec
  lib/filewatcher/snapshot.rb
Due: bundle-audit, rubocop, test

Remove `bundler` as development dependency
  Gemfile
Due: bundle-audit, rubocop, test

Update RuboCop
  .rubocop.yml
  Gemfile
  lib/filewatcher/snapshot.rb
  lib/filewatcher/spec_helper/watch_run.rb
Due: bundle-audit, rubocop, test

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add Ruby 4.0 support
  .cirrus.yaml
  Gemfile
  filewatcher.gemspec
Due: remark, bundle-audit, rubocop, test

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add `logger` dependency
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Remove `lib/filewatcher` requiring from `.gemspec` file
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, bin/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, bin/**)
  test: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, bin/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, bin/**, spec/**)
