Repository filewatcher/filewatcher: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  container:
    image: ruby:latest
  install_script:
  - gem install bundler
  - bundle update
  lint_script: bundle exec rubocop

test:
  depends_on:
  - remark
  - rubocop
  matrix:
  - bundle_cache:
      folder: /usr/local/bundle
      fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
    container:
      matrix:
        image: jruby:latest
    install_script:
    - apt-get update && apt-get install -y procps
  ...

Improve Cirrus CI config
  .cirrus.yml
  .gitignore
  .remarkrc.yaml
  filewatcher.gemspec
  package.json
Due: remark, rubocop, test

Fix Bundle cache for CI
  .cirrus.yml
Due: remark, rubocop, test

Debug milliseconds of `File.mtime`
  lib/filewatcher/snapshots.rb
Due: rubocop, test

Add `/test/` to `.gitignore`
  .gitignore
Due: remark, rubocop, test

Improve system `stat` command
  lib/filewatcher/snapshots.rb
Due: rubocop, test

Take out `wait` method in `spec_helper` to the top-level
  spec/filewatcher_spec.rb
  spec/spec_helper.rb
Due: rubocop, test

Stop Filewatcher after `pause` tests
  spec/filewatcher_spec.rb
Due: rubocop, test

Improve description of executable options specs
  spec/filewatcher_spec.rb
Due: rubocop, test

Add pause after `start` in tests
  spec/filewatcher_spec.rb
  spec/spec_helper.rb
Due: rubocop, test

Sleep before trigger changes
  bin/filewatcher
  lib/filewatcher/cycles.rb
  lib/filewatcher/snapshots.rb
Due: rubocop, test

Add `--warnings` into RSpec config
  .rspec
Due: test

Small (grammar) improvements in texts
  README.md
  bin/banner.txt
  bin/filewatcher
  filewatcher.gemspec
  spec/spec_helper.rb
Due: remark, rubocop, test

Remove `Date.today` from gem spec
  filewatcher.gemspec
Due: rubocop, test

Rename `filesystem_updated?` method to `file_system_updated?`
  lib/filewatcher.rb
  lib/filewatcher/cycles.rb
  lib/filewatcher/snapshots.rb
Due: rubocop, test

Update home page in gem spec
  filewatcher.gemspec
Due: rubocop, test

Add myself to gem authors
  README.md
  filewatcher.gemspec
Due: remark, rubocop, test

Debug system `stat` right after `make_changes`
  lib/filewatcher/snapshots.rb
  spec/spec_helper.rb
Due: rubocop, test

Format `File.mtime` in debug precisely
  lib/filewatcher/snapshots.rb
Due: rubocop, test

Debug `File.mtime` right after `make_actions`
  spec/spec_helper.rb
Due: rubocop, test

Replace `File.write` with system `echo` in tests
  spec/spec_helper.rb
Due: rubocop, test

Introduce `Snapshot` helper class
  README.md
  lib/filewatcher.rb
  lib/filewatcher/cycles.rb
  lib/filewatcher/snapshot.rb
  lib/filewatcher/snapshots.rb
  spec/filewatcher/snapshot_spec.rb
Due: remark, rubocop, test

Add sleep for each file of `write_tmp_files`
  spec/filewatcher_spec.rb
Due: rubocop, test

Add more accurate `mtime` debug for specs
  lib/filewatcher/snapshot.rb
  spec/filewatcher_spec.rb
Due: rubocop, test

Update RuboCop config to a new `rubocop-rspec` version
  .rubocop.yml
  filewatcher.gemspec
Due: rubocop, test

Increase the interval for `there are new files in subdirectories` test
  spec/filewatcher_spec.rb
Due: rubocop, test

Preserve original behavior of executable
  bin/filewatcher
Due: rubocop, test

Update library API to batch the list of all changes
  lib/filewatcher.rb
  lib/filewatcher/cycles.rb
Due: rubocop, test

Fix some tests
  spec/filewatcher_spec.rb
  spec/spec_helper.rb
Due: rubocop, test

Fix "pause" specs
  lib/filewatcher/cycles.rb
  spec/filewatcher_spec.rb
Due: rubocop, test

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, bin/**
  test: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, bin/**, spec/**
