Repository filewatcher/filewatcher: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, test

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: vendor/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  bundle_install_script:
  - bundle config set --local path 'vendor/bundle'
  - bundle update
  container:
    image: ruby:latest
  install_script:
  - gem install bundler
  ...

rubocop:
  bundle_cache:
    folder: vendor/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  bundle_install_script:
  - bundle config set --local path 'vendor/bundle'
  - bundle update
  container:
    image: ruby:latest
  install_script:
  - gem install bundler
  ...

test:
  depends_on:
  - remark
  - bundle-audit
  - rubocop
  matrix:
  - bundle_cache:
      folder: vendor/bundle
      fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
    bundle_install_script:
    - bundle config set --local path 'vendor/bundle'
    - bundle update
  ...

Add abilities for `access` plugin
  lib/filewatcher/snapshot.rb
Due: rubocop, test

Update version to 2.0.0.beta6
  CHANGELOG.md
  lib/filewatcher/version.rb
Due: remark, rubocop, test

Update version to 2.0.0
  CHANGELOG.md
  lib/filewatcher/version.rb
Due: remark, rubocop, test

Populate official plugins section in README
  README.md
Due: remark

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  filewatcher.gemspec
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, test

Enable RSpec `--only-fail` feature
  .gitignore
  filewatcher.gemspec
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, test

Change specs to a new multi-pattern system
  filewatcher.gemspec
  lib/filewatcher/spec_helper/watch_run.rb
  spec/filewatcher_spec.rb
Due: bundle-audit, rubocop, test

Remove `depends_on` for Cirrus CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Resolve RuboCop offenses
  lib/filewatcher/spec_helper/watch_run.rb
Due: rubocop, test

Fix Codecov in OSes
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Try to fix Windows CI with tilda (`~`)
  spec/filewatcher_spec.rb
Due: rubocop, test

Enable PowerShell for Windows CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Fix Windows CI ENV vars for PowerShell
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Fix Windows CI Codecov download errors
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add specs for Array Filewatcher input
  .rubocop.yml
  lib/filewatcher/spec_helper/watch_run.rb
  spec/filewatcher_spec.rb
Due: rubocop, test

Try to fix specs for Array paths
  spec/filewatcher_spec.rb
Due: rubocop, test

Replace `**hash.to_h` with `hash.merge`
  spec/filewatcher_spec.rb
Due: rubocop, test

Allow changes for Array paths be separate in specs result
  spec/filewatcher_spec.rb
Due: rubocop, test

Update macOS CI image
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Disable Codecov for macOS in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Corrections for CLI plugin after Array of paths changes
  lib/filewatcher/spec_helper/watch_run.rb
  spec/filewatcher_spec.rb
Due: rubocop, test

Update version to 2.1.0
  CHANGELOG.md
  lib/filewatcher/version.rb
Due: remark, rubocop, test

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Remove Codecov Ruby uploader
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher.gemspec
Due: remark, bundle-audit, rubocop, test

Move development dependencies from gemspec into Gemfile
  Gemfile
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Resolve new RuboCop offense
  spec/filewatcher_spec.rb
Due: rubocop, test

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, bin/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, bin/**)
  test: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, bin/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, bin/**, spec/**)
