Repository filewatcher/filewatcher: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, test

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, bin/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, bin/**)
  test: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, bin/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, bin/**, spec/**)

Update version to 2.0.0.beta5
  lib/filewatcher/version.rb
Due: rubocop, test

Remove `ps` installation from CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Include pre-releases in the gem badge
  README.md
Due: remark

Fix syntax for rubocop
  lib/filewatcher/spec_helper/watch_run.rb
Due: rubocop, test

Lock RuboCop version better
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Resolve new RuboCop offenses
  lib/filewatcher/spec_helper/watch_run.rb
Due: rubocop, test

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
Due: remark, bundle-audit, rubocop, test

Enable `rubygems_mfa_required`
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Exclude ignored by git files for RuboCop
  .rubocop.yml
Due: rubocop

Change Bundler update approach for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Change Bundler update approach for CI (completely)
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Install latest Ruby for macOS and cache it
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update version of macOS in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Try to remove Bundler from development dependencies
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Try to resolve issues with new TruffleRuby
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  filewatcher.gemspec
Due: remark, bundle-audit, rubocop, test

Revert "Try to remove Bundler from development dependencies"
  filewatcher.gemspec
Due: bundle-audit, rubocop, test

Return `gem install bundler` into CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Resolve new RuboCop offense
  lib/filewatcher/spec_helper.rb
Due: rubocop, test

Move `SpecHelper::RubyWatchRun` to `lib/`
  lib/filewatcher/spec_helper.rb
  lib/filewatcher/spec_helper/ruby_watch_run.rb
  spec/spec_helper.rb
Due: rubocop, test

Raise exception on unexpected action from specs
  lib/filewatcher/spec_helper/watch_run.rb
  spec/filewatcher_spec.rb
Due: rubocop, test

Take out actions of `WatchRun` to constant
  lib/filewatcher/spec_helper/watch_run.rb
  spec/filewatcher_spec.rb
Due: rubocop, test

Remake `WatchRun` to module
  lib/filewatcher/spec_helper/ruby_watch_run.rb
  lib/filewatcher/spec_helper/watch_run.rb
Due: rubocop, test

Fix `WatchRun::ACTIONS` redefenition
  lib/filewatcher/spec_helper/watch_run.rb
Due: rubocop, test

Resolve new RuboCop offense
  lib/filewatcher/spec_helper/ruby_watch_run.rb
Due: rubocop, test

Try to fix Windows CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test
