Repository filewatcher/filewatcher: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

.cirrus.yml:

unix_bundle_cache: &unix_bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  install_script:
    - gem install bundler
    - bundle update
  <<: *unix_bundle_cache
  lint_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec', '**.rb',
      'bin/**'
    )

test_task:
  name: Test on $CIRRUS_OS
  depends_on:
    - remark
    - rubocop
  matrix:
    - container:
        matrix:
          image: ruby:2.4
          image: ruby:2.5
          image: ruby:2.6
          image: ruby:2.7
          image: jruby:latest
      install_script:
        ## For `ps`: https://cirrus-ci.com/task/4518391826612224
        - apt-get update && apt-get install -y procps
        - gem install bundler
        - bundle update
      <<: *unix_bundle_cache

    - osx_instance:
        image: catalina-base
      env:
        PATH: "/usr/local/opt/ruby/bin:$PATH"
      install_script:
        - ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
        - brew install ruby
        ## https://github.com/rubygems/rubygems/issues/2058#issuecomment-342347290
        - gem install bundler --force
        - bundle update
      <<: *unix_bundle_cache

    # - windows_container:
    #     image: cirrusci/windowsservercore:2019
    #     os_version: 2019
    #   # windows_container:
    #   #   image: vinogradoff/windows-ruby
    #   #   os_version: 2016
    #   env:
    #     RUBY_VERSION: 2.6.1-1
    #     PATH: $PATH;C:\Ruby\bin
    #   install_script:
    #     - mkdir C:\tmp
    #     - bitsadmin.exe
    #         /transfer "Download Ruby"
    #         https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-%RUBY_VERSION%/rubyinstaller-devkit-%RUBY_VERSION%-x64.exe
    #         C:\tmp\rubyinstaller.exe
    #
    #     - C:\tmp\rubyinstaller.exe
    #         /silent
    #         /dir="C:\Ruby"
    #         /tasks="assocfiles,modpath"
    #     - gem install bundler
    #     - dir C:\Ruby
    #     - rmdir C:\tmp /s /q
    #   bundle_cache:
    #     folder: /usr/local/bundle
    #     fingerprint_script: >
    #       - echo $CIRRUS_TASK_NAME:$CIRRUS_OS
    #       - dir C:\Ruby\
    #       - ruby -v
    #       - type Gemfile
    #       - type *.gemspec
    #     populate_script: bundle install

  test_script: bundle exec rspec

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**', 'bin/**',
      'spec/**'
    )

Change `master` header in `CHANGELOG` to `gem_toys` default
  CHANGELOG.md
Due: remark

Update version to 2.0.0.beta3
  CHANGELOG.md
  lib/filewatcher/version.rb
Due: remark, rubocop, test

Replace `extend self` with `module_function`
  lib/filewatcher/spec_helper.rb
Due: rubocop, test

Fix typo in README
  README.md
Due: remark

Drop Ruby 2.4 support
  .cirrus.yaml
  .rubocop.yml
  CHANGELOG.md
  filewatcher.gemspec
Due: remark, rubocop, test

Reduce `wait` coefficients for specs
  lib/filewatcher/spec_helper.rb
Due: rubocop, test

Fix `stat` for JRuby
  lib/filewatcher/snapshots.rb
  lib/filewatcher/spec_helper.rb
  lib/filewatcher/spec_helper/watch_run.rb
Due: rubocop, test

Fix Bundle cache in CI for macOS
  .cirrus.yaml
Due: none

Rename `osx_instance` to `macos_instance`
  .cirrus.yaml
Due: none

Update macOS CI image from Catalina to Big Sur
  .cirrus.yaml
Due: none

Remove Brew installing for macOS CI
  .cirrus.yaml
Due: none

Use global absolute path for Bundler caching
  .cirrus.yaml
Due: none

Update .cirrus.yaml
  .cirrus.yaml
Due: none

Less resources to have better parallelism
  .cirrus.yaml
Due: none

Revert local Bundler cache for macOS
  .cirrus.yaml
Due: none

Add `bundle-audit` CI task
  .cirrus.yaml
  filewatcher.gemspec
Due: rubocop, test

Add Windows to Cirrus CI
  .cirrus.yaml
Due: none

Suppress Bundle warnings
  .cirrus.yaml
Due: none

Enable Ruby installation caching for Windows CI
  .cirrus.yaml
Due: none

Implement system's `stat` for Windows
  lib/filewatcher/spec_helper.rb
Due: rubocop, test

Add TruffleRuby to CI
  .cirrus.yaml
  spec/filewatcher/snapshot_spec.rb
  spec/filewatcher_spec.rb
Due: rubocop, test

Remove `git` installation from CI
  .cirrus.yaml
Due: none

Update version to 2.0.0.beta4
  CHANGELOG.md
  lib/filewatcher/version.rb
Due: remark, rubocop, test

Allow `linux-gnu` for system `stat`
  lib/filewatcher/spec_helper.rb
Due: rubocop, test

Return `extend self` instead of `module_function`
  lib/filewatcher/spec_helper.rb
  lib/filewatcher/spec_helper/watch_run.rb
Due: rubocop, test
