Repository filewatcher/filewatcher: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

.cirrus.yml:

unix_bundle_cache: &unix_bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  install_script:
    - gem install bundler
    - bundle update
  <<: *unix_bundle_cache
  lint_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec', '**.rb',
      'bin/**'
    )

test_task:
  name: Test on $CIRRUS_OS
  depends_on:
    - remark
    - rubocop
  matrix:
    - container:
        matrix:
          image: ruby:2.4
          image: ruby:2.5
          image: ruby:2.6
          image: ruby:2.7
          image: jruby:latest
      install_script:
        ## For `ps`: https://cirrus-ci.com/task/4518391826612224
        - apt-get update && apt-get install -y procps
        - gem install bundler
        - bundle update
      <<: *unix_bundle_cache

    - osx_instance:
        image: catalina-base
      env:
        PATH: "/usr/local/opt/ruby/bin:$PATH"
      install_script:
        - ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
        - brew install ruby
        ## https://github.com/rubygems/rubygems/issues/2058#issuecomment-342347290
        - gem install bundler --force
        - bundle update
      <<: *unix_bundle_cache

    # - windows_container:
    #     image: cirrusci/windowsservercore:2019
    #     os_version: 2019
    #   # windows_container:
    #   #   image: vinogradoff/windows-ruby
    #   #   os_version: 2016
    #   env:
    #     RUBY_VERSION: 2.6.1-1
    #     PATH: $PATH;C:\Ruby\bin
    #   install_script:
    #     - mkdir C:\tmp
    #     - bitsadmin.exe
    #         /transfer "Download Ruby"
    #         https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-%RUBY_VERSION%/rubyinstaller-devkit-%RUBY_VERSION%-x64.exe
    #         C:\tmp\rubyinstaller.exe
    #
    #     - C:\tmp\rubyinstaller.exe
    #         /silent
    #         /dir="C:\Ruby"
    #         /tasks="assocfiles,modpath"
    #     - gem install bundler
    #     - dir C:\Ruby
    #     - rmdir C:\tmp /s /q
    #   bundle_cache:
    #     folder: /usr/local/bundle
    #     fingerprint_script: >
    #       - echo $CIRRUS_TASK_NAME:$CIRRUS_OS
    #       - dir C:\Ruby\
    #       - ruby -v
    #       - type Gemfile
    #       - type *.gemspec
    #     populate_script: bundle install

  test_script: bundle exec rspec

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**', 'bin/**',
      'spec/**'
    )

Fix some tests
  spec/filewatcher_spec.rb
  spec/spec_helper.rb
Due: rubocop, test

Fix "pause" specs
  lib/filewatcher/cycles.rb
  spec/filewatcher_spec.rb
Due: rubocop, test

Add `--restart-signal` option
  README.md
  bin/filewatcher
  spec/dumpers/signal_dumper.rb
  spec/filewatcher_spec.rb
  spec/spec_helper.rb
Due: remark, rubocop, test

Update `.gitignore` file
  .gitignore
Due: remark, rubocop, test

Update README.md
  README.md
Due: remark

Replace `optimist` with `clamp`
  .rubocop.yml
  bin/banner.txt
  bin/filewatcher
  filewatcher.gemspec
  spec/filewatcher_spec.rb
  spec/spec_helper.rb
Due: rubocop, test

Add CLI options aliases
  bin/filewatcher
  spec/filewatcher_spec.rb
Due: rubocop, test

Add plugin system
  README.md
  bin/filewatcher
  filewatcher.gemspec
  lib/filewatcher.rb
  lib/filewatcher/cycles.rb
  lib/filewatcher/env.rb
  lib/filewatcher/runner.rb
  lib/filewatcher/spec_helper.rb
  lib/filewatcher/spec_helper/watch_run.rb
  lib/filewatcher/version.rb
  spec/dumpers/env_dumper.rb
  spec/dumpers/signal_dumper.rb
  spec/dumpers/watched_dumper.rb
  spec/filewatcher/env_spec.rb
  spec/filewatcher/runner_spec.rb
  spec/filewatcher/snapshot_spec.rb
  spec/filewatcher_spec.rb
  spec/spec_helper.rb
  spec/spec_helper/ruby_watch_run.rb
Due: remark, rubocop, test

Switch Homebrew installation (for CI) from Ruby to Bash
  .cirrus.yml
Due: remark, rubocop, test

Remove a line about daemonizing
  README.md
Due: remark

Add Changelog for version 2.0
  CHANGELOG.md
  README.md
Due: remark

Add code coverage
  .cirrus.yml
  .gitignore
  README.md
  filewatcher.gemspec
  spec/spec_helper.rb
Due: remark, rubocop, test

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Update badges in README to Shields.io (flat-square)
  README.md
Due: remark

Update version to 2.0.0.beta1
  lib/filewatcher/version.rb
Due: rubocop, test

Make `VERSION` specs more accurate
  spec/filewatcher/version_spec.rb
Due: rubocop, test

Require missing `forwardable` for `SpecHelper`
  lib/filewatcher/spec_helper/watch_run.rb
Due: rubocop, test

Update version to 2.0.0.beta2
  lib/filewatcher/version.rb
Due: rubocop, test

Fix `.cirrus.yaml` file name after file rename
  .cirrus.yaml
Due: none

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  filewatcher.gemspec
Due: rubocop, test

Resolve offenses from new RuboCop
  lib/filewatcher/snapshot.rb
Due: rubocop, test

Remove patch-version lock for stable RuboCop
  filewatcher.gemspec
Due: rubocop, test

Add `remark-gfm` for a new `remark` version
  .remarkrc.yaml
  package.json
Due: remark

Resolve new offense from `rubocop-performance`
  lib/filewatcher/spec_helper.rb
Due: rubocop, test

Fix README after #115
  README.md
Due: remark

Add `Filewatcher.print_version` method
  lib/filewatcher.rb
  spec/filewatcher_spec.rb
Due: rubocop, test

Simplify code for directories expanding a little
  lib/filewatcher.rb
  lib/filewatcher/snapshots.rb
Due: rubocop, test

Allow Ruby 3 in gem specs
  filewatcher.gemspec
Due: rubocop, test

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Split development dependencies by empty lines
  filewatcher.gemspec
Due: rubocop, test

Replace `rake` with `toys`
  .toys.rb
  Rakefile
  filewatcher.gemspec
Due: rubocop, test

Add documentation about gem releasing (via `toys`)
  README.md
Due: remark
